# HW2 Supplemental Notebook

In [1]:
%matplotlib inline
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/openpowerlifting-2019-10-24.csv", low_memory=False)

In [3]:
df.shape

(489510, 38)

## Data Consistency

A great example of how data consistency can be problemativ is in the `division` fied of our data. There are over 1300 "divisions" and making sense of them is beyond challenging ... without knowing the history of these competitions and their structure and how things have changed over time to accomodate different competitions, layered on top of the global nature of the competitions, things can get confusing rather quickly!

In [4]:
df.Division.value_counts()

Open                      172332
Boys                      129540
Juniors                    11347
Novice                      6832
M-C-Open                    6605
                           ...
F-M1-U                         1
M 50-59                        1
Law/Fire Masters 40-46         1
Law/Fire Masters 46-55         1
M-E-Guest                      1
Name: Division, Length: 1329, dtype: int64

In [5]:
df.Division.value_counts()[10:35]

Juniors 20-23     4253
M-O               4130
Sub-Juniors       4096
Teen              3903
Masters 45-49     3876
High School       3236
Teen 16-17        3099
F-C-Open          3043
Teen 18-19        3026
F-OR              2872
Masters 50-54     2720
Submasters        2679
Masters           2256
Masters 3         2195
MR-O              2054
Varsity           1893
Class II          1846
M-E-Open          1788
Masters 55-59     1782
F-O               1350
Junior Varsity    1303
Masters 60-64     1190
Masters 40-49     1169
Natural           1158
Pure              1155
Name: Division, dtype: int64

Notice that there are `Masters 40-49` and `Masters 45-49`, as well as `Masters 3`, `Masters`, etc.  Also we can see there are a lot of `Varsity` labels in just this small sample.  What this indicates is there are consistency issues beyond our understanding of the domain and the competitions across the data &mdash; meaning that **we should use caution when approaching this particular data field** and perhaps not use it at all until we can understand how to consolidate it into more consistent categories.

In [6]:
df.shape

(489510, 38)

## Converting date strings to Data Objects

Notice when we look at the `Date` column, we see the `dtype` is `object` meaning we cannot perform the many really useful date operations built into Pandas.

In [7]:
df.Date.head()

0    2018-10-27
1    2018-10-27
2    2018-10-27
3    2018-10-27
4    2018-10-27
Name: Date, dtype: object

In [8]:
df.Date.dtype

dtype('O')

In [9]:
df.Date

0         2018-10-27
1         2018-10-27
2         2018-10-27
3         2018-10-27
4         2018-10-27
             ...
489505    2011-02-10
489506    2011-02-10
489507    2011-02-10
489508    2011-02-10
489509           NaN
Name: Date, Length: 489510, dtype: object

## Grouping

We can group up by `Sex` and `AgeClass` getting the `count()` of each group.

In [10]:
df.groupby(['Sex', 'AgeClass']).count().loc[:,:]

               Name  Event  Equipment    Age  BirthYearClass  Division  \
Sex AgeClass
F   13-15      1497   1497       1497   1431            1121      1487
    16-17      2521   2521       2521   2435            2264      2510
    18-19      2661   2661       2661   2599            2248      2620
    20-23      5832   5832       5832   5657            5146      5738
    24-34     13634  13634      13634  13603           12232     13333
    35-39      3960   3960       3960   3904            3368      3918
    40-44      3430   3430       3430   3303            3017      3408
    45-49      2486   2486       2486   2380            1999      2473
    5-12        270    270        270    256               0       270
    50-54      1819   1819       1819   1755            1511      1812
    55-59       820    820        820    767             639       819
    60-64       490    490        490    459             409       489
    65-69       239    239        239    234             208       239
    70-74        93     93         93     91              80        93
    75-79        35     35         35     35              31        35
    80-999       33     33         33     32              28        33
M   13-15      6826   6826       6826   5257            3921      6816
    16-17     10548  10548      10548  10073            9454     10516
    18-19     13227  13227      13227  12788           10380     13139
    20-23     23469  23469      23469  22355           19998     23146
    24-34     49486  49486      49486  48903           44466     48954
    35-39     13679  13679      13679  13343           11560     13575
    40-44     12845  12845      12845  12133           11130     12782
    45-49      8682   8682       8682   8086            6868      8657
    5-12        820    820        820    729               0       818
    50-54      6627   6627       6627   6224            5689      6607
    55-59      4254   4254       4254   4000            3483      4249
    60-64      3045   3045       3045   2894            2578      3036
    65-69      1858   1858       1858   1744            1486      1855
    70-74      1245   1245       1245   1159            1006      1243
    75-79       537    537        537    520             443       537
    80-999      229    229        229    219             189       229

              BodyweightKg  WeightClassKg  Squat1Kg  Squat2Kg  ...  McCulloch  \
Sex AgeClass                                                   ...
F   13-15             1467           1480       727       722  ...       1418
    16-17             2493           2498      1397      1390  ...       2381
    18-19             2625           2643      1486      1475  ...       2495
    20-23             5794           5805      3478      3453  ...       5554
    24-34            13523          13520      7733      7670  ...      12983
    35-39             3890           3928      1908      1899  ...       3734
    40-44             3372           3411      1552      1543  ...       3235
    45-49             2436           2467      1131      1120  ...       2348
    5-12               267            268        57        57  ...        261
    50-54             1798           1808       808       796  ...       1723
    55-59              809            811       310       310  ...        779
    60-64              483            488       209       208  ...        462
    65-69              238            239        96        96  ...        231
    70-74               92             92        27        27  ...         87
    75-79               35             35         5         5  ...         35
    80-999              32             32         0         0  ...         32
M   13-15             6744           6747      1170      1161  ...       6285
    16-17            10462          10474      3702      3679  ...       9800
    18-19            13075          13117      5076      5027  ...      12150
    20-23            23304          23391     11987     11842  ...      21809
    24-34            48819          49244     21410     21161  ...      45476
    35-39            13465          13605      4392      4314  ...      12480
    40-44            12539          12679      3530      3455  ...      11694
    45-49             8527           8586      2382      2332  ...       8002
    5-12               800            803        80        80  ...        763
    50-54             6530           6571      1807      1761  ...       6186
    55-59             4218           4225      1146      1126  ...       4006
    60-64             3015           3016       816       783  ...       2876
    65-69             1839           1840       470       455  ...       1767
    70-74             1237           1237       296       290  ...       1186
    75-79              535            534       125       123  ...        513
    80-999             226            227        38        38  ...        216

              Glossbrenner  IPFPoints  Tested  Country  Federation   Date  \
Sex AgeClass
F   13-15             1418       1325    1152      495        1497   1497
    16-17             2381       2333    2029      743        2521   2521
    18-19             2495       2459    2116      884        2661   2661
    20-23             5554       5433    4327     1977        5832   5832
    24-34            12983      12681    8842     5266       13634  13634
    35-39             3734       3624    2561     1794        3960   3960
    40-44             3235       3121    2284     1729        3430   3430
    45-49             2348       2242    1706     1186        2486   2486
    5-12               261        155     212      116         270    270
    50-54             1723       1666    1376      856        1819   1819
    55-59              779        740     593      409         820    820
    60-64              462        439     386      272         490    490
    65-69              231        212     185      134         239    239
    70-74               87         76      70       36          93     93
    75-79               35         29      34       22          35     35
    80-999              32         27      32       27          33     33
M   13-15             6285       6040    5512      843        6826   6826
    16-17             9800       9536    8392     1990       10548  10548
    18-19            12150      11960   10231     2788       13227  13227
    20-23            21809      21300   15532     7705       23469  23469
    24-34            45476      44318   27756    19716       49486  49486
    35-39            12480      12147    7814     6149       13679  13679
    40-44            11694      11345    7467     6080       12845  12845
    45-49             8002       7796    5574     4215        8682   8682
    5-12               763        554     460      169         820    820
    50-54             6186       5978    4565     3301        6627   6627
    55-59             4006       3887    3097     2221        4254   4254
    60-64             2876       2789    2234     1643        3045   3045
    65-69             1767       1703    1324     1121        1858   1858
    70-74             1186       1131     979      733        1245   1245
    75-79              513        493     429      294         537    537
    80-999             216        201     180      127         229    229

              MeetCountry  MeetState  MeetName
Sex AgeClass
F   13-15            1497        591      1497
    16-17            2521       1018      2521
    18-19            2661       1007      2661
    20-23            5832       2550      5832
    24-34           13634       6976     13634
    35-39            3960       2166      3960
    40-44            3430       1851      3430
    45-49            2486       1347      2486
    5-12              270        169       270
    50-54            1819        961      1819
    55-59             820        519       820
    60-64             490        292       490
    65-69             239        145       239
    70-74              93         63        93
    75-79              35         18        35
    80-999             33         17        33
M   13-15            6826       4659      6826
    16-17           10548       5558     10548
    18-19           13227       7093     13227
    20-23           23469      10451     23469
    24-34           49486      22237     49486
    35-39           13679       6340     13679
    40-44           12845       6139     12845
    45-49            8682       4421      8682
    5-12              820        549       820
    50-54            6627       3315      6627
    55-59            4254       2087      4254
    60-64            3045       1603      3045
    65-69            1858       1066      1858
    70-74            1245        704      1245
    75-79             537        297       537
    80-999            229        123       229

[32 rows x 36 columns]

Counting the rows for just `Name` and `Event`:

In [11]:
df.groupby(['Sex', 'AgeClass']).count().loc[:,['Name', 'Event']]

               Name  Event
Sex AgeClass
F   13-15      1497   1497
    16-17      2521   2521
    18-19      2661   2661
    20-23      5832   5832
    24-34     13634  13634
    35-39      3960   3960
    40-44      3430   3430
    45-49      2486   2486
    5-12        270    270
    50-54      1819   1819
    55-59       820    820
    60-64       490    490
    65-69       239    239
    70-74        93     93
    75-79        35     35
    80-999       33     33
M   13-15      6826   6826
    16-17     10548  10548
    18-19     13227  13227
    20-23     23469  23469
    24-34     49486  49486
    35-39     13679  13679
    40-44     12845  12845
    45-49      8682   8682
    5-12        820    820
    50-54      6627   6627
    55-59      4254   4254
    60-64      3045   3045
    65-69      1858   1858
    70-74      1245   1245
    75-79       537    537
    80-999      229    229

Notice the interesting number of very young competitors (age < 13)!

In [12]:
pd.get_dummies(df[:100])

,Age,BodyweightKg,Squat1Kg,Squat2Kg,Squat3Kg,Squat4Kg,Best3SquatKg,Bench1Kg,Bench2Kg,Bench3Kg,...,Place_7,Place_8,Place_9,Place_DQ,Country_Australia,Federation_GPC-AUS,Date_2018-10-27,MeetCountry_Australia,MeetState_VIC,MeetName_Melbourne Cup
0,29.0,59.8,80.0,92.5,105.0,NaN,105.0,45.0,50.0,55.0,...,0,0,0,0,0,1,1,1,1,1
1,29.0,58.5,100.0,110.0,120.0,NaN,120.0,55.0,62.5,67.5,...,0,0,0,0,0,1,1,1,1,1
2,40.0,55.4,NaN,NaN,NaN,NaN,NaN,27.5,32.5,-35.0,...,0,0,0,0,0,1,1,1,1,1
3,23.0,60.0,-105.0,-105.0,105.0,NaN,105.0,67.5,72.5,-75.0,...,0,0,0,0,0,1,1,1,1,1
4,45.0,104.0,120.0,130.0,140.0,NaN,140.0,70.0,75.0,80.0,...,0,0,0,0,0,1,1,1,1,1
5,37.0,74.0,127.5,135.0,142.5,NaN,142.5,72.5,77.5,82.5,...,0,0,0,0,0,1,1,1,1,1
6,23.0,59.8,115.0,125.0,-135.0,NaN,125.0,65.0,70.0,-75.0,...,0,0,0,0,0,1,1,1,1,1
7,35.0,80.4,120.0,130.0,140.0,NaN,140.0,67.5,72.5,77.5,...,0,0,0,0,0,1,1,1,1,1
8,36.0,108.0,180.0,200.0,220.0,NaN,220.0,90.0,100.0,NaN,...,0,0,0,0,0,1,1,1,1,1
9,37.0,74.8,180.0,190.0,200.0,NaN,200.0,90.0,95.0,-97.5,...,0,0,0,0,0,1,1,1,1,1
10,34.0,82.0,175.0,185.0,-195.0,NaN,185.0,85.0,-90.0,-90.0,...,0,0,0,0,0,1,1,1,1,1
11,27.0,102.0,135.0,-140.0,140.0,NaN,140.0,77.5,82.5,-85.0,...,0,0,0,0,0,1,1,1,1,1
12,27.0,78.6,172.5,182.5,-192.5,NaN,182.5,92.5,100.0,105.0,...,0,0,0,0,1,1,1,1,1,1
13,38.0,74.7,-170.0,170.0,-177.5,NaN,170.0,92.5,95.0,-97.5,...,0,0,0,0,0,1,1,1,1,1
14,19.0,72.7,95.0,105.0,112.5,NaN,112.5,55.0,-60.0,60.0,...,1,0,0,0,0,1,1,1,1,1
15,30.0,108.1,135.0,142.5,147.5,NaN,147.5,65.0,70.0,-72.5,...,0,0,0,0,0,1,1,1,1,1
16,50.0,55.2,130.0,137.5,-142.5,NaN,137.5,65.0,70.0,-72.5,...,0,0,0,0,1,1,1,1,1,1
17,49.0,77.2,110.0,115.0,120.0,NaN,120.0,60.0,-65.0,65.0,...,0,0,0,0,0,1,1,1,1,1
18,33.0,71.9,135.0,145.0,150.0,NaN,150.0,85.0,-90.0,90.0,...,0,0,0,0,0,1,1,1,1,1
19,31.0,77.7,130.0,137.5,145.0,NaN,145.0,75.0,80.0,-85.0,...,0,0,0,0,0,1,1,1,1,1
20,48.0,55.8,115.0,120.0,122.5,NaN,122.5,77.5,82.5,-85.0,...,0,0,0,0,0,1,1,1,1,1
21,29.0,72.1,90.0,100.0,105.0,NaN,105.0,55.0,60.0,-62.5,...,0,0,0,0,0,1,1,1,1,1
22,28.0,51.2,100.0,-110.0,110.0,NaN,110.0,45.0,47.5,-50.0,...,0,0,0,0,0,1,1,1,1,1
23,30.0,55.0,100.0,115.0,125.0,NaN,125.0,60.0,65.0,-70.0,...,0,0,0,0,0,1,1,1,1,1
24,34.0,74.0,155.0,165.0,-170.0,NaN,165.0,95.0,100.0,-102.5,...,0,0,0,0,1,1,1,1,1,1
25,30.0,67.2,140.0,150.0,160.0,NaN,160.0,72.5,-77.5,-77.5,...,0,0,0,0,0,1,1,1,1,1
26,37.0,60.0,75.0,-85.0,-85.0,NaN,75.0,50.0,55.0,-60.0,...,0,0,0,0,0,1,1,1,1,1
27,45.0,64.8,100.0,110.0,-115.0,NaN,110.0,52.5,55.0,57.5,...,0,0,0,0,0,1,1,1,1,1
28,26.0,89.3,105.0,115.0,120.0,NaN,120.0,50.0,55.0,57.5,...,0,0,0,0,0,1,1,1,1,1
29,27.0,146.4,117.5,125.0,137.5,NaN,137.5,65.0,70.0,72.5,...,0,0,0,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,35.0,116.7,NaN,NaN,NaN,NaN,NaN,157.5,167.5,175.0,...,0,0,0,0,0,1,1,1,1,1
71,41.0,88.5,250.0,262.5,272.5,NaN,272.5,155.0,160.0,162.5,...,0,0,0,0,1,1,1,1,1,1
72,36.0,133.7,-230.0,-230.0,230.0,NaN,230.0,120.0,130.0,-135.0,...,0,0,0,1,0,1,1,1,1,1
73,27.0,99.6,200.0,215.0,-217.5,NaN,215.0,145.0,155.0,-162.5,...,1,0,0,0,0,1,1,1,1,1
74,27.0,67.1,165.0,175.0,182.5,NaN,182.5,100.0,107.5,-112.5,...,0,0,0,0,0,1,1,1,1,1
75,25.0,118.9,235.0,250.0,260.0,NaN,260.0,140.0,147.5,-152.5,...,0,0,0,0,0,1,1,1,1,1
76,27.0,114.1,265.0,-280.0,-280.0,NaN,265.0,145.0,155.0,-160.0,...,1,0,0,0,0,1,1,1,1,1
77,20.0,99.9,-205.0,215.0,-225.0,NaN,215.0,130.0,135.0,140.0,...,0,0,0,0,0,1,1,1,1,1
78,27.0,92.7,-190.0,200.0,210.0,NaN,210.0,97.5,105.0,-110.0,...,0,0,0,0,0,1,1,1,1,1
79,25.0,123.0,265.0,285.0,305.0,NaN,305.0,155.0,170.0,182.5,...,0,0,0,0,0,1,1,1,1,1
80,24.0,101.5,155.0,162.5,170.0,NaN,170.0,115.0,122.5,-127.5,...,1,0,0,0,0,1,1,1,1,1
81,25.0,108.1,165.0,175.0,185.0,NaN,185.0,110.0,120.0,-130.0,...,0,0,0,0,0,1,1,1,1,1
82,36.0,80.8,NaN,NaN,NaN,NaN,NaN,-137.5,137.5,145.0,...,0,0,0,0,1,1,1,1,1,1
83,21.0,98.5,250.0,262.5,275.0,NaN,275.0,120.0,127.5,130.0,...,0,0,0,0,0,1,1,1,1,1
84,72.0,82.5,90.0,100.0,105.0,NaN,105.0,67.5,72.5,75.0,...,0,0,0,0,0,1,1,1,1,1
85,33.0,162.0,270.0,290.0,-305.0,NaN,290.0,185.0,195.0,-200.0,...,0,0,0,0,0,1,1,1,1,1
86,47.0,117.7,200.0,220.0,240.0,NaN,240.0,160.0,175.0,-190.0,...,0,0,0,0,0,1,1,1,1,1
87,26.0,106.5,230.0,242.5,250.0,NaN,250.0,140.0,147.5,-150.0,...,0,0,0,0,0,1,1,1,1,1
88,21.0,100.6,180.0,195.0,-210.0,NaN,195.0,115.0,122.5,-130.0,...,0,0,0,0,0,1,1,1,1,1
89,22.0,87.2,195.0,207.5,-220.0,NaN,207.5,120.0,127.5,-130.0,...,1,0,0,0,0,1,1,1,1,1
90,33.0,107.4,190.0,200.0,212.5,NaN,212.5,120.0,130.0,135.0,...,0,0,0,0,1,1,1,1,1,1
91,25.0,99.4,227.5,240.0,250.0,NaN,250.0,145.0,152.5,160.0,...,0,0,0,0,0,1,1,1,1,1
92,24.0,89.2,180.0,200.0,207.5,NaN,207.5,130.0,135.0,-140.0,...,0,0,0,0,0,1,1,1,1,1
93,32.0,98.8,-280.0,280.0,290.0,NaN,290.0,160.0,165.0,170.0,...,0,0,0,0,1,1,1,1,1,1
94,30.0,89.2,260.0,270.0,-277.5,NaN,270.0,157.5,162.5,-167.5,...,0,0,0,0,1,1,1,1,1,1
95,29.0,137.0,315.0,330.0,340.0,NaN,340.0,200.0,210.0,-215.0,...,0,0,0,0,0,1,1,1,1,1
96,27.0,83.5,210.0,222.5,-237.5,NaN,222.5,110.0,120.0,127.5,...,0,0,0,0,0,1,1,1,1,1
97,33.0,99.5,195.0,207.5,212.5,NaN,212.5,145.0,155.0,160.0,...,0,0,1,0,0,1,1,1,1,1
98,34.0,82.0,175.0,185.0,192.5,NaN,192.5,115.0,-122.5,125.0,...,0,0,0,0,0,1,1,1,1,1
99,39.0,109.1,NaN,NaN,NaN,NaN,NaN,195.0,200.0,-205.0,...,0,0,0,0,0,1,1,1,1,1

In [13]:
df[:1][['Age', 'BodyweightKg', 'Sex', 'Glossbrenner', 'TotalKg']]

    Age  BodyweightKg Sex  Glossbrenner  TotalKg
0  29.0          59.8   F        286.42    290.0