Chezka Sino (9028-67538)

# MCIS6273 Data Mining (Prof. Maull) / Fall 2019 / HW2

**This assignment is worth up to 40 POINTS to your grade total if you complete it on time.**

| Points <br/>Possible | Due Date | Time Commitment <br/>(estimated) |
|:---------------:|:--------:|:---------------:|
| 40 | Wednesday, December 11 @ Midnight | _up to_ 12 hours |


* **GRADING:** Grading will be aligned with the completeness of the objectives.

* **INDEPENDENT WORK:** Copying, cheating, plagiarism  and academic dishonesty _are not tolerated_ by University or course policy.  Please see the syllabus for the full departmental and University statement on the academic code of honor.

## OBJECTIVES
* improve on your homework 1 assignment, if necessary

* continue exploratory data analysis and visualization

* perform a clustering analysis using k-means

## WHAT TO TURN IN
You are being encouraged to turn the assignment in using the provided
Jupyter Notebook.  To do so, make a directory in your Lab environment called
`homework/hw2`.   Put all of your files in that directory.  Then zip that directory,
rename it with your name as the first part of the filename (e.g. `maull_hw2_files.zip`), then
download it to your local machine, then upload the `.zip` to Blackboard.

If you do not know how to do this, please ask, or visit one of the many tutorials out there
on the basics of using zip in Linux.

## ASSIGNMENT TASKS
### (25%) continue exploratory data analysis and visualization 

In the last HW we explore some of the bas features of Pandas with graphic and data selection.
This time we're going to go a but deeper into Pandas ans learn about MultIndices and grouping
data in interesting and useful ways.

One of the things that we learned from the data last time is that the majority of it are
interesting over several dimensions.  There are the years of competition, the sex of the competitors,
the age the competitors, country of origin, among other things.  With denser data like these, we want
to understand some of the underlying groupings for easier access to the data.  For example,
one might want to understand how groupings by year and age bear out on the data to explore questions
like "Has the number of competitors over 40 increased over the years?"  This might be an interesting
question to ask to explore if powerlifters continue to compete as they age since the sport is very
difficult on one's body and requires intense continuous training to stay competitive.

Some questions like these are also very useful to explore visually, so we'll dive into a few more
graphical techniques to get at these answers and more.  We're going to end up with a DataFrame
that will group our data by year, age class and sex, so we can see some of the interesting
annual trends along each of these dimensions within the last two decades.

&#167;  Let's first get a feel for the data and filter it down.  One of the main
difficulties in dealing with large user-contributed data sets like these
are _data consistency_ and _data quality_.  _Data consistency_ refers to
how data is represented over time.  We can see how this becomes an issue
when we look at the `Division` column of the dataset.  We can see with a
relatively untrained eye to the data, that something is very wrong with
the consistency &mdash; there are over 1300 Division designations!  When
you look at it more closely, there are groupings that overlap.  For
example, you will see `Masters 45-49` and `Masters 40-49` when you
perform a `.value_counts()` on the `Divisions` column of the data (see
supplemental notebook).  What is the difference between these two since
they obviously overlap?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/openpowerlifting-2019-10-24.csv", low_memory=False)

In [3]:
df.shape

(489510, 38)

In [4]:
df['Division'].value_counts()['Masters 45-49'] - df['Division'].value_counts()['Masters 40-49']

2707

Filter the data down to a smaller subset of the data using
[`dropna()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).
Specifically, drop all rows of data missing `Age`
and `Division` data (e.g. they have `NaN` values).  You will be able to do this by passing a
`subset=` parameter into `dropna()`.

In [5]:
df.dropna(subset=['Age','Division'], inplace=True)

You should now have fewer than 200K data points, leading us to the second
problem of _data quality_.  When we look at the original data file, we have
over 400K data points, yet after filtering for missing values, we end up
with over 50% reduction in the data!  This is actually a reasonable preservation
of the original data set given that we `NaN` values from two different columns.
In general, it isn't a bad idea when working with your data to develop an
understanding of the holes in it.  What if we reduced our data 90% just on
`Age` indicating it was not recorded consistently over time?  This would indeed
limit what we could ask of the data in analyses requiring age data.  Many of
the tools in Pandas will ignore `NaN` data, but some required you to send
specific instructions to the tool on what to do.  Better to get ahead of things
now.

In your notebook **you must include the following** to be considered a correct answer:

* correct use of `dropna()`,
* output of the original dimensions of the data using `DataFrame.shape` or
  something similar that shows the original and new dimensions of the data.

In [6]:
df.shape

(187846, 38)

&#167;  One of the major issues with any data set when importing into Pandas is the
that Pandas tries to infer the data types so that when you compare data
you are comparing data that _can_ be compared (i.e. you cannot  compare
strings with integers).  One area that you'll need to be mindful
of is with dates.  For example, if you perform a `df.Date.head()` the
data is of type `object`.  We want it to be `Datetime` so we can benefit
from the many useful features in Pandas to manipulate dates.

Doing this is straightforward with the [`pandas.datetime()`](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html#pandas.to_datetime) method.
Your notebook must show:

* use of `pandas.datetime` to convert the `Date` column
  of your data to `datetime` (hint: use `loc` to set the data),
* that the column has changed by using `DataFrame.dtype` or alternatively
  use `DataFrame.head()` which will show the data type in its output.

**NOTE**: you may need to use the `errors` parameter of `to_datetime` to
handle any issues you may encounter.

In [7]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [8]:
df.Date.head()

0   2018-10-27
1   2018-10-27
2   2018-10-27
3   2018-10-27
4   2018-10-27
Name: Date, dtype: datetime64[ns]

&#167;  Pandas provides superior capabilities to slice and group data.  We would like
to build a dataset that is composed of all remaining data from
1999 to 2018 that restricts age to those 21 and older.

Like the last homework, doing this is simple with [`Dataframe.query()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html#pandas.DataFrame.query).  You will notice that a
query over the `Date` column can be done naturally by just saying
`Date > a_year` since it is a `datetime` object.  Pandas does the inferential
magic for you!

Next add to your query by grouping the data by `Date`, `AgeClass`
and `Sex`.   You will need to use the [`DataFrame.groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby)
method to accomplish this.  **A hint for grouping by year**: if you do not restrict
the data in the `Date` column Pandas will naturally group by the
full date meaning that each _day_ will be grouped leading to the
wrong result.  You can convert a date to a year for the purposes of
grouping by year using `dt.to_period('Y')`.  Please see the documentation for
[`Series.dt.to_period()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.to_period.html).

You will pass to the first parameter of `DataFrame.groupby()` the list of
the grouping in order of grouping, outer group first.  Thus, `groupby(['Sex', 'AgeClass`])
will return the MultiIndex DataFrame with `Sex` as the outermost group
and `AgeClass` the inner group.  See the supplemental notebook for some
more clues.

Your notebook must show:

* use of `query()` to restrict your data to competitors 21 and older
  in competitions from 1999 to 2018,
* use of `groupby` showing the **`mean()`** values for each column with
  groups being (in order) `Date (year)`, `AgeClass` and `Sex`.

In [9]:
df2 = df.query('Date>1999 & Date<2018 & Age>=21')

In [10]:
df2['Date'] = df2.Date.dt.to_period('Y')

C:\Users\chezk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df2.Date.head()

109    2015
110    2015
111    2015
112    2015
113    2015
Name: Date, dtype: period[A-DEC]

In [12]:
df2.groupby(['Date', 'Sex', 'AgeClass']).mean().loc[:,:]

                         Age  BodyweightKg    Squat1Kg    Squat2Kg  \
Date Sex AgeClass
1999 F   20-23     21.851064     63.530638   48.214286   41.309524
         24-34     28.121951     61.345620   59.345161   46.924333
         35-39     36.680851     64.125682  101.153846   18.653846
         40-44     42.232759     67.148276   75.625000   -6.875000
         45-49     47.818182     57.333333 -140.000000  140.000000
         50-54     51.928571     64.571429         NaN         NaN
         55-59     58.000000     86.250000   99.790000  113.400000
         60-64     62.250000     63.750000         NaN         NaN
     M   20-23     21.942857     84.422634  109.744898   48.158163
         24-34     29.084101     95.211205  138.193687   70.976057
         35-39     37.112108     95.960190  146.864219   90.456825
         40-44     41.750000     95.875376  111.597333   43.332333
         45-49     46.939655     96.828761   65.000000   47.625000
         50-54     51.933333     99.884038  107.891600  109.439583
         55-59     57.171233     96.055556   69.719333   96.929333
         60-64     61.605769     89.948846   87.142857  -26.428571
         65-69     66.433333     96.226429   66.250000 -112.500000
         70-74     72.166667     96.981250  165.000000  187.500000
         75-79     77.500000     86.666667         NaN         NaN
2000 F   20-23     22.012500     64.379500   53.100000   63.076923
         24-34     28.192308     57.936549   65.166667   69.008621
         35-39     37.183333     60.217083  124.166667  133.750000
         40-44     41.571429     63.489744   29.583333   78.333333
         45-49     47.388889     59.405556   89.062500    1.250000
         50-54     51.157895     56.043158   99.166667   77.083333
         55-59     56.500000     57.180000         NaN         NaN
         60-64     61.250000     86.250000         NaN         NaN
         70-74     70.500000     59.400000         NaN         NaN
     M   20-23     22.008671     81.798663  117.027559   55.858268
         24-34     28.669591     85.263653  117.428910   57.121951
...                      ...           ...         ...         ...
2016 M   55-59     56.911111     90.150644  117.649573  130.201949
         60-64     61.888889     90.274880   56.159853   65.682656
         65-69     67.016667     81.239809   87.789855   55.955882
         70-74     72.022523     81.575495   63.399091   28.167813
         75-79     77.067901     81.844321   57.647059   45.000000
         80-999    83.384615     71.692308   77.500000   12.500000
2017 F   20-23     22.022774     63.396284   80.935853   71.056824
         24-34     28.579062     67.314735   79.350185   74.399530
         35-39     36.919588     71.257562   80.920830   70.617282
         40-44     41.910853     71.104424   68.710939   75.792877
         45-49     47.182000     66.697720   64.992481   47.127323
         50-54     52.076233     67.112377   74.643362   67.820877
         55-59     56.609756     66.786748   57.353226   47.750000
         60-64     61.733333     60.975333   54.693000   55.146667
         65-69     67.105263     61.925000   36.842105   13.947368
         70-74     71.625000     59.406250   41.250000   47.500000
         75-79     77.750000     52.925000    0.000000    3.750000
         80-999    81.187500     60.163750         NaN         NaN
     M   20-23     22.085075     89.260956  142.009659  123.809021
         24-34     28.447141     92.829934  150.216587  130.678346
         35-39     36.884561     96.306172  147.933969  121.813167
         40-44     42.017270     96.906692  139.056561  108.073276
         45-49     47.073549     92.245751  130.927994  114.368882
         50-54     51.996569     92.070792  119.517308  115.507399
         55-59     56.880907     89.541267  117.706503   79.268492
         60-64     61.767751     90.050476   89.175524   94.010300
         65-69     67.045000     82.501000   91.740781   19.414375
         70-74     71.921642     82.244697   68.492727   33.086279
         75-79     77.206897     78.452586   91.176471   53.823529
         80-999    83.433333     71.658621   78.000000   85.000000

                     Squat3Kg    Squat4Kg  Best3SquatKg    Bench1Kg  \
Date Sex AgeClass
1999 F   20-23      -7.750000         NaN    118.359211   50.909091
         24-34      -1.250667  185.000000    135.153086   54.682895
         35-39     -42.708333         NaN    139.532692   75.441176
         40-44       7.500000 -135.000000    132.024857   67.750000
         45-49     152.500000         NaN    125.322000   82.500000
         50-54            NaN         NaN    110.625000         NaN
         55-59    -122.470000         NaN    113.400000   86.180000
         60-64            NaN         NaN     85.000000         NaN
     M   20-23     -15.953608         NaN    226.665533   72.809524
         24-34     -11.147110   -8.200000    271.367647  103.370097
         35-39      -7.600000  270.500000    268.694202  111.927391
         40-44     -29.818571         NaN    246.408969  104.196452
         45-49     -68.375000         NaN    239.618776   77.000000
         50-54      33.914286  -15.000000    224.353091  117.552500
         55-59      10.181333  227.500000    189.638286   44.254286
         60-64      36.785714         NaN    191.734828  137.187500
         65-69    -120.000000         NaN    137.857143  113.750000
         70-74    -200.500000         NaN    155.703333  107.500000
         75-79            NaN         NaN           NaN         NaN
2000 F   20-23       3.653846         NaN    138.103448   60.416667
         24-34     -10.158333         NaN    131.578571   58.142045
         35-39      17.916667  220.000000    138.392857   64.062500
         40-44      -8.250000         NaN    124.586957   68.666667
         45-49      22.142857         NaN    119.218750   36.607143
         50-54      80.833333         NaN    109.500000   11.250000
         55-59            NaN         NaN           NaN   52.500000
         60-64            NaN         NaN           NaN         NaN
         70-74            NaN         NaN    150.000000         NaN
     M   20-23     -52.560976         NaN    229.161654   91.532847
         24-34      19.599010         NaN    246.759660   79.605714
...                       ...         ...           ...         ...
2016 M   55-59      71.344602         NaN    176.287115  104.756242
         60-64      84.237719  205.000000    152.116374   88.407882
         65-69      25.103175  175.642857    137.399149   68.162302
         70-74      41.662581  135.000000    119.738421   72.268780
         75-79      31.562500         NaN    117.185882   63.826531
         80-999     15.000000         NaN     87.500000   77.788000
2017 F   20-23      33.670785   60.000000    116.241721   43.926045
         24-34      27.976742  -43.750000    116.003741   48.578161
         35-39      21.051107  -11.265000    119.159749   56.274840
         40-44      48.671388         NaN    118.167904   45.950031
         45-49      21.697717  157.500000    101.065625   46.649223
         50-54      32.866930  136.080000    106.818409   52.529091
         55-59      37.483934   40.070000     91.430435   43.416596
         60-64       9.914483         NaN     74.368571   40.975778
         65-69     -13.315789         NaN     80.761000   41.293103
         70-74      51.250000   55.000000     50.500000   40.357143
         75-79      -3.500000         NaN     51.500000   44.375000
         80-999           NaN         NaN           NaN   47.500000
     M   20-23      52.526708   36.071429    207.741921   97.603516
         24-34      51.409435  -59.286364    216.598243  107.058018
         35-39      49.211691   71.373333    219.453389  111.281933
         40-44      56.360308  185.970000    207.569977  107.247535
         45-49      71.479599         NaN    193.978853  107.246262
         50-54      60.776235  115.670000    186.824306  103.226468
         55-59      64.742965         NaN    168.379296   96.408531
         60-64      43.191099  -40.000000    150.533386   81.322582
         65-69      59.348500   80.000000    125.796757   84.319366
         70-74      40.994878         NaN    120.593400   66.844141
         75-79      10.000000         NaN    111.463500   62.944615
         80-999    -15.000000         NaN     86.000000   51.863571

                     Bench2Kg    Bench3Kg  ...  Deadlift1Kg  Deadlift2Kg  \
Date Sex AgeClass                          ...
1999 F   20-23      21.477273   24.523810  ...   112.750000   125.750000
         24-34      32.276711    4.479863  ...   123.042647    84.674394
         35-39      48.676471    9.968750  ...   110.312500   110.937500
         40-44      44.500000  -19.250000  ...   157.500000    64.687500
         45-49      90.000000   93.000000  ...   145.000000   155.000000
         50-54            NaN         NaN  ...          NaN          NaN
         55-59      90.720000   92.990000  ...   124.740000   131.540000
         60-64            NaN         NaN  ...          NaN          NaN
     M   20-23      55.360577    3.308824  ...   166.881443   132.864583
         24-34      48.305122  -27.667085  ...   217.984261    99.315263
         35-39      68.271765    3.951692  ...   169.022881   121.289464
         40-44      71.807667  -27.738966  ...   244.707500   135.337143
         45-49      -3.625000   18.875000  ...   193.611111   200.138889
         50-54      53.419545  -45.790476  ...   222.783636   239.201364
         55-59      22.204286  -11.569231  ...   180.235000   172.781429
         60-64      62.812500  -49.583333  ...   223.571429   236.071429
         65-69     127.500000   58.750000  ...    95.000000   126.250000
         70-74     -25.250000 -145.500000  ...   197.500000   222.500000
         75-79            NaN         NaN  ...          NaN          NaN
2000 F   20-23      34.150000  -23.275862  ...   140.344828    88.750000
         24-34      38.619318   -4.441860  ...   121.392857    63.000000
         35-39      52.031250   58.812500  ...   135.833333   102.916667
         40-44       2.300000  -53.133333  ...   125.000000   133.333333
         45-49      79.807692   -4.269231  ...   124.687500   133.571429
         50-54      51.562500   -0.625000  ...   110.000000   124.166667
         55-59     -57.500000   57.500000  ...          NaN          NaN
         60-64            NaN         NaN  ...          NaN          NaN
         70-74            NaN         NaN  ...          NaN          NaN
     M   20-23      46.639706  -18.379699  ...   178.568548    89.521552
         24-34      48.312500  -17.072157  ...   189.052133    71.282609
...                       ...         ...  ...          ...          ...
2016 M   55-59      48.952345  -22.213569  ...   168.025068   154.360638
         60-64      66.557716    1.991533  ...   155.725000   120.757000
         65-69      62.984328   10.072240  ...   142.228916   108.141975
         70-74      69.139268  -20.362564  ...   130.755000   148.076111
         75-79      48.418367  -23.573171  ...   130.500000   111.500000
         80-999     16.944444   19.219000  ...    88.750000   100.000000
2017 F   20-23      31.058807   -3.076675  ...   110.236826    90.446582
         24-34      32.146366  -10.295805  ...   113.233093   104.973371
         35-39      36.131213  -12.866346  ...   120.048834   100.621357
         40-44      34.474623   -9.078237  ...   114.712709   109.540161
         45-49      28.207621  -13.711045  ...    97.391325    99.330743
         50-54      39.236457   -3.388555  ...   108.094485    96.894296
         55-59      28.776383   -6.513763  ...   108.178056    94.293611
         60-64      30.871556  -11.080227  ...    89.204412    74.738235
         65-69      38.017241   -4.884615  ...    83.815789   112.868421
         70-74      43.571429  -36.357143  ...    67.500000    35.000000
         75-79      49.500000  -53.875000  ...    83.750000    91.500000
         80-999    -50.000000  -50.000000  ...    80.000000    90.000000
     M   20-23      77.925933   -2.468493  ...   185.153993   150.216133
         24-34      72.306532  -17.205383  ...   187.063574   153.797071
         35-39      67.354310  -21.404428  ...   185.559476   157.399500
         40-44      68.511904  -29.252807  ...   184.061282   173.513215
         45-49      72.819656   -8.192261  ...   191.321777   167.221626
         50-54      68.727905  -23.973882  ...   176.163532   156.139600
         55-59      59.721327  -19.422437  ...   165.296522   133.014545
         60-64      45.739328  -11.208326  ...   135.998723   139.361029
         65-69      63.919571    4.252016  ...   125.623947   110.480400
         70-74      50.394687   10.288710  ...   124.630377   116.802400
         75-79       5.900513  -34.302222  ...    94.523810   110.238095
         80-999     50.877692   26.348333  ...    76.590909    83.437500

                   Deadlift3Kg  Deadlift4Kg  Best3DeadliftKg     TotalKg  \
Date Sex AgeClass
1999 F   20-23       -2.777778          NaN       133.123000  298.742381
         24-34        1.850678    -1.000000       146.047979  277.350085
         35-39       16.833333          NaN       148.332903  264.355909
         40-44       22.187500          NaN       149.470000  248.254655
         45-49      165.000000          NaN       141.620909  331.595455
         50-54             NaN          NaN       121.875000  199.285714
         55-59      140.610000          NaN       140.610000  219.750000
         60-64             NaN          NaN       125.000000  155.000000
     M   20-23      -40.082418          NaN       233.540250  511.550053
         24-34      -69.822830   321.500000       263.920228  501.473468
         35-39       -9.121538          NaN       258.120859  474.180142
         40-44     -107.341154          NaN       251.983113  440.895380
         45-49      -60.000000          NaN       233.981017  370.383304
         50-54       -5.017778          NaN       231.516818  412.231584
         55-59      -59.558462   205.000000       200.763500  338.295217
         60-64        2.083333          NaN       216.119355  361.124615
         65-69      151.250000   181.440000       197.218182  324.597333
         70-74      -10.000000   200.000000       191.357000  242.612778
         75-79             NaN   145.000000       142.500000   86.250000
2000 F   20-23        9.464286          NaN       149.848485  305.513158
         24-34      -14.348485          NaN       142.000000  256.468468
         35-39      152.083333  -155.000000       161.500000  240.655172
         40-44      -41.750000   135.000000       141.800000  236.637500
         45-49       42.916667   125.000000       140.735294  229.629630
         50-54      -91.500000          NaN       132.656250  269.027778
         55-59             NaN          NaN              NaN   57.500000
         60-64             NaN          NaN              NaN   43.750000
         70-74             NaN          NaN       150.000000  390.000000
     M   20-23      -56.247788   285.000000       238.886029  544.539216
         24-34      -84.223684     1.000000       251.130894  417.079641
...                        ...          ...              ...         ...
2016 M   55-59       42.186929   200.000000       196.957465  275.081073
         60-64       50.602394     2.875000       184.645574  257.767950
         65-69       26.298507   183.125000       170.913089  257.090437
         70-74       65.511212  -167.830000       155.656346  202.742430
         75-79       68.863636   130.000000       142.308276  160.687922
         80-999     108.750000          NaN        98.125000  114.399231
2017 F   20-23       35.886272   -89.365000       129.358160  233.105429
         24-34       43.656773    52.257000       134.945795  246.254808
         35-39       33.141511    85.160000       140.999793  254.066504
         40-44       27.903667  -145.000000       137.526520  233.171707
         45-49       48.874110   127.500000       124.249524  204.137415
         50-54       33.448444    -6.465000       130.681329  220.179132
         55-59       50.564444   119.070000       122.662527  195.459237
         60-64       55.900909          NaN       105.942195  164.687500
         65-69       17.894737          NaN       107.305000  163.761892
         70-74       40.000000    82.500000        77.000000  123.187500
         75-79      -98.750000          NaN        95.020000  115.063333
         80-999     100.000000          NaN       103.943333   86.081250
     M   20-23       12.200233   106.400556       230.815983  405.371965
         24-34       14.498112   -16.920400       239.075544  396.889820
         35-39       -5.548710   107.528000       241.192345  354.991272
         40-44       28.829660   -18.851429       230.934416  332.110393
         45-49       40.962413   245.000000       222.079470  357.276204
         50-54       -2.606010  -123.875000       209.700979  298.415861
         55-59       73.857524    -0.250000       196.668667  283.600888
         60-64       79.728583    24.625000       184.311848  271.332194
         65-69       68.271875          NaN       163.758200  226.316615
         70-74       78.707872          NaN       164.870290  220.506641
         75-79       -1.944444   180.000000       140.071923  186.192857
         80-999     120.000000   140.000000       126.250000  136.432593

                        Wilks   McCulloch  Glossbrenner   IPFPoints
Date Sex AgeClass
1999 F   20-23     325.586667  328.529048    287.379286  462.005641
         24-34     303.022586  303.022586    267.814052  510.568750
         35-39     287.122683  287.122683    253.473659  517.665897
         40-44     260.143621  265.166897    229.510345  495.812759
         45-49     346.500000  377.053333    306.384444  471.963750
         50-54     213.818571  245.291429    188.367143  451.757143
         55-59     191.540000  247.275000    166.745000  465.645000
         60-64     170.920000  231.285000    150.990000  384.405000
     M   20-23     349.777135  352.601730    337.012919  518.973443
         24-34     324.170452  324.170452    311.217952  558.757690
         35-39     294.021256  294.021256    282.243417  551.915104
         40-44     282.078848  287.270788    271.112364  532.562761
         45-49     232.699818  251.345455    222.997545  494.729630
         50-54     259.963500  302.009200    249.351900  494.432551
         55-59     213.675882  271.987059    205.053235  455.439091
         60-64     232.044038  318.735769    222.743269  452.430000
         65-69     216.117857  331.725000    207.668571  385.244545
         70-74     163.135000  277.967500    156.458125  375.793750
         75-79      56.811667  110.495000     54.580000  292.476667
2000 F   20-23     332.217105  333.943158    293.286842  509.308158
         24-34     298.871121  298.871121    264.556729  516.051682
         35-39     240.518261  240.518261    212.574348  531.101739
         40-44     272.627568  276.681351    241.189189  499.347568
         45-49     265.839259  288.708889    235.328889  510.414074
         50-54     323.006667  370.517222    286.126667  488.639444
         55-59      77.500000   96.560000     69.100000  466.860000
         60-64      38.610000   52.740000     33.685000  357.365000
         70-74     438.210000  720.860000    387.230000  547.910000
     M   20-23     373.523158  375.589737    360.222368  528.850789
         24-34     282.512677  282.512677    272.222952  558.389176
...                       ...         ...           ...         ...
2016 M   55-59     181.334110  229.018767    174.385616  483.126533
         60-64     172.271266  239.080042    165.852616  448.327745
         65-69     179.299951  275.327073    172.985561  420.523538

&#167;  Now that we have the data segmented the way we'd like, let's visualize it
in some interesting way.

With powerlifting there are a number of ways to express the _strength_ of a
competitor. There is _raw_ strength, meaning how much total weight was lifted
on a given lift, and there is _relative_ strength.  It is not fair to compare
the raw lift of a 100lb 16 year old teenage to that of a 35 year old 300lb adult.

The 35 year old might lift ten times the weight yet the 16 year old may be _relatively_
stronger, but how would we compare their
_relative_ strenghts?  Many competitors will be able to lift between 2 and 7 times
their body weight depending on the lift, so we might expect a 100lb powerlifter
to perhaps perform a 200lb bench press and maybe a 300lb squat, both impressive
for their weight.  To deal with comparing _strength_ across age and weight variables
a number of methods have been developed to create fair and accurate measures of
_relative strength_.  The OpenPowelifting dataset includes three such measures:
_Wilks_, _McCulloch_ and _Glossbrenner_, which give a numeric assignment of relative
strength which factor age and weight into the computation.  Exploring the details
of each of these methods is beyond the scope of this homework, but the curious can
learn more on the variety of sites which calculate these statistics.

We will restrict our interest to the _Glossbrenner_ score, which takes into account
age and weight to compute a normalized weight value.  Consider three competitors,
all 29 year olds, with one male and one female weighting 131.84lbs and the last male
weighting 263.67 pounds.  Assume they all lift 639.33 pounds total.  The _Glossbrenner_ score
takes into account the age and weights and produces a relative score with the
following:

| competitor | sex | age (lbs) | weight (lbs) | lift (lbs) | score | $\gamma$-coefficient | $\gamma_{age}$-coefficient
|-----------:|:---:|:---:|:------:|:-----:|:-----:|:--------------------:|:----:|
| 1 | F | 29 |  131.84 | 639.33 | 287.187 | 0.9903 | 1 |
| 2 | M | 29 |  131.84 | 639.33 | 242.3095 | 0.83555 | 1 |
| 3 | M | 29 |  263.67 | 639.33 | 159.906 | 0.5514 | 1 |
| 4 | M | 49 | 263.67 | 639.33 | 218.951 | 0.5514 | 1.113 |
| 5 | F | 49 | 263.67 | 639.33 | 177.9754 | 0.67835 | 1.113 |


The _Glossbrenner_ score is in the _score_ column and the $\gamma$-coefficient is
the constant calculated by the method.  The $\gamma_{age}$-coefficient is computed
constant which the method factors in for the relative impact age has on the
competitor.  Thus, the _Glossbrenner_ score $\Gamma$ is:

$$
\Gamma(age, sex) = \gamma{\text{-coefficient}}_{age,sex} \times \gamma_{age} \times weight
$$

If you perform the score calculation on the Openpowerlifting data, you'll notice the
some values are off by a small amount and this is likely due to the _Glossbrenner_ constants
used, which have varied over time.

Now that we have that out of the way, let's visualize some data.  Specifically, we'd like to
plot the _Glossbrenner_ score for the last 20 years over time.  Are the scores going up, down
or staying the same?  One could expect any of these scenarios to occur, so let's dive in.

What we want to produce are two _area_ plots of the annual _mean Glossbrenner_ score
from 1999 to 2018 for all age groups, one plot for males and the other for females as putting them all on
one graph would most certainly be information overload.  To do this we will need to
slice the data in a way that makes a multi-index grouped by year, age group and sex.
You will effectively use the data from the prior part and make a visual of it.

Your area plot code will be invoked by:

```python

DataFrame.plot.area()

```

You may optionally pass in the `figsize=(15,7)` (or whatever dimensions you'd like)
to stretch the data out a bit so you can visually see what is going on, since the
legend may get in the way of viewing the data.

Your plot will look something like this:

![](./sample_area.png)

Please see the [`DataFrame.plot.area()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.area.html#pandas.DataFrame.plot.area) method for full information on
the area plots.

**A final important note**: You will need to use [`droplevel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.droplevel.html) and
[`unstack()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unstack.html)
in order to prepare your DataFrame for final presentation.  Basically,
you'll need to drop the `Sex` level of your index (level 2) and immediately
before you plot the area plot you will use `unstack()`.

Your notebook must show:

* an area plot showing the male data grouped by age and year, that
  is the $x$-axis will show the year and the $y$-axis the _Glossbrenner_ score,
* an area plot showing the female data grouped by age and year, that
  is the $x$-axis will show the year and the $y$-axis the _Glossbrenner_ score.

In [3]:
## TODO

You must also answer the following questions in your notebook:

* What's the general trend you see in the area plots?  Your answer can
  be in one or two sentences.

In [ ]:
## TODO

### (50%) perform a clustering analysis using k-means 

The simplicity and power of k-means algorithm makes it one of the best to start with
when performing _unsupervised learning_ &mdash; that is the class labels of your
data are not known _a priori_ and you that will not be training the algorithm
on labeled data.  While this is a powerful and oft useful technique, use it with
care as the initial conditions of the algorithm do not guarantee a global maximum
and as such, running the algorithm with a number of initialization points will
produce better and more reliable results.

Continuing with our OpenPowerlifting data, we're going to do some exploratory data
analysis to examine this dataset in some interesting ways using unsupervised learning,
namely clustering.  The original dataset has over 1 million data points, but in order
to get a good idea of what's in it, we will not need to go back through the entire
dataset, and in fact, we will restrict the focus of our energy on just the last 2 decades
from 1999.

**REMEMBER TO MAKE SURE TO SHOW ALL YOUR WORK IN THE NOTEBOOK SO YOU CAN RECEIVE PARTIAL CREDIT WHERE APPROPRIATE!**

&#167;  You will need to complete part 1 of this homework to filter the data to the necessary
subset for this part.  As we talked about in lecture, the subset of features will just
be the following:

  ```python
  features = [
       'Sex',
       'Age',
       'BodyweightKg',
       'Best3SquatKg',
       'Best3BenchKg',
       'Best3DeadliftKg',
       'TotalKg',
       'Date'
  ]
  ```

Final preparation for clustering will require you to turn all of
_categorical_ variables into _numeric_ one's.  One way to do this
from directly within Pandas is to use `Pandas.get_dummies(your_dataframe)`.
You can also study the
`sklearn.preprocessing.OrdinalEncoder()` which will do something
very similar.  Either way, with the reduced set of features above, the only
categorical variable will be `Sex` as all the others should already
be numerical features.

In your notebook, you should show:

* clearly how many features are now in your dataframe?

In [4]:
## TODO

&#167;  In class we talked about the fact that the $k$ number of clusters needs to be
determined _a priori_ &mdash; that is you will need to know how many clusters beforehand to
run the algorithm.  To find the optimal $k$, we will use a method called the _silhouette score_.

Adapt the following code to compute the silhouette scores on *only* the dataset filtered by
the features from the prior step.

```python
  from sklearn.cluster import KMeans
  from sklearn.metrics import silhouette_score

  Sum_of_squared_distances = []
  K = range(2, 15)
  for k in K:
      km = KMeans(n_clusters=k, n_init=20)
      km = km.fit(YOUR_OPENPOWERLIFTING_DATAFRAME_WITH_DUMMY_VARS)
      Sum_of_squared_distances.append(km.inertia_)

      silh_score = silhouette_score(YOUR_OPENPOWERLIFTING_DATAFRAME_WITH_DUMMY_VARS, km.labels_)
      print("k = {} | silhouette_score = {}".format(k, silh_score))
```

  The largest score is typically the $k$ you go with.  If $k=2$ is your largest
  score, we will ignore and use the next best score since 2 clusters is not usually an
  interesting number of clusters when dealing with a large set of data points.

  Your notebook must show and answer the following:

  * What is the optimal $k$ according the silhouette score?
  * What else is interesting about the scores?

In [6]:
## TODO

&#167;  Now that you have clusters and optimal cluster, let's find out the characteristics of
the features that dominate them.

Note that the k-means algorithm returns the cluster centers
for each cluster, hence in that center each feature value
is the _representative feature value_ for that cluster.
For example, the `TotalKg` would be the representative `TotalKg` for
that cluster.

Using the optimal cluster size from the silhouette score in the prior
section, please use adapt the following code to determine the cluster
characteristics.

```python
    optimal_k = THE_OPTIMAL_SILH_K

    km = KMeans(n_clusters=optimal_k, n_init=150)
    km = km.fit(YOUR_OPENPOWERLIFTING_DATAFRAME_WITH_DUMMY_VARS)

    for i in range(0, optimal_k):
        l = list(zip(YOUR_OPENPOWERLIFTING_DATAFRAME_WITH_DUMMY_VARS.columns, \
                    km.cluster_centers_[i]))
        l.sort(key=lambda x: x[1], reverse=True)

        print('CLUSTER : {}\n'.format(i))
        for attr, val in l[:]:
          print('\t{} : {}\n'.format(attr, val))
```

Your notebook must show and answer the following:

* for each cluster, describe in real words what the cluster centers are telling
  you about the representative of that cluster.  For example, your answer might
  look like: "for cluster 1, the representative for that cluster is a 24.7 year
  old female, with an average `Best3SquatKg` of 121 and a `TotalKg` of 721",
* show the output of the cluster centers above.

**NOTE**: The order of the features in `km.cluster_centers_` are the same order
as they exist in the DataFrame.

In [ ]:
## TODO